div
    v-btn(fab dark color="green" @click.stop="dialog = true")
        v-icon(dark) add
    
    v-dialog(v-model="dialog" persistent max-width="600px")
        v-card
            v-form(@submit.prevent="addUser" lazy-validation ref="form" v-model="valid")
                v-card-title
                    v-icon(large left) add_circle_outline
                    span.title Add New User
                v-divider
                v-card-text
                    v-container(grid-list-md)
                        v-layout(wrap)
                            v-flex(xs12)
                                v-text-field(label="Name" v-model="user.name" :rules="nameRules" prepend-inner-icon="account_box")
                            v-flex(xs12)
                                v-text-field(label="Email" v-model="user.email" :rules="emailRules" prepend-inner-icon="alternate_email")
                            v-flex(xs12)
                                v-text-field(label="Credits" v-model="user.credits" mask="#################################" :rules="creditsRules" prepend-inner-icon="money")
                            v-flex(xs12)
                                v-text-field(label="Password" type="password" v-model="user.password" :rules="passwordRules" prepend-inner-icon="lock")
                            v-flex(xs12)
                                v-text-field(label="Confirm Password" type="password" v-model="user.confirm_password" :rules="passwordRules" prepend-inner-icon="lock")
                v-divider
                v-card-actions
                    v-spacer
                    v-btn(color="blue darken-1" @click="closeDialog") Close
                    v-btn(color="green" type="submit" :disabled="!valid") Save